<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.js"></script>        
  <script type="text/javascript" src="{{ '/' | relative_url }}slick/slick.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ '/' | relative_url }}public/css/main.css">
  <link rel="stylesheet" href="{{ '/' | relative_url }}public/css/poole.css">
  <link rel="stylesheet" href="{{ '/' | relative_url }}public/css/syntax.css">
  <link rel="stylesheet" href="{{ '/' | relative_url }}public/css/hyde.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">

  <link rel="stylesheet" type="text/css" href="{{ '/' | relative_url }}slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="{{ '/' | relative_url }}slick/slick-theme.css"/>

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ '/' | relative_url }}public/apple-touch-icon-144x144.png">
  <link rel="shortcut icon" href="{{ '/' | relative_url }}public/favicon.ico">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
</head>
