<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <div class="photoDiv">
        <img class="photo" src="{{ 'public/images/headshot.JPG' | relative_url }}" alt="">
      </div>
      <h1 class="sidetext">
        <a style="font-family: 'Pacifico', cursive;
        " href="{{ '/'' | relative_url }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav id="SideBarNav" class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == '/' | relative_url %} active{% endif %}" href="{{ '/'' | relative_url }}#top">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: nav-page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "nav-page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url | relative_url }}#top">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

      {% if page.url == "/projects.html" %}
        <a class="sidebar-nav-item active" href="{{ 'projects' | relative_url }}#top">Projects</a>
      {% else %}
        <a class="sidebar-nav-item" href="{{ 'projects' | relative_url }}#top">Projects</a>
      {% endif %}

      <a id="imageLink" class="sidebar-nav-item" href="https://www.linkedin.com/in/phil-lavoie/">
        <img id="linkedInIcon" src="{{ 'public/images/LI-In-Bug.png' | relative_url }}"/>
      </a>
      

    </nav>



    
    
    <p class="rights">&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>

<style>

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


.photoDiv {
    width: 120px;
    height: 120px;
    margin: auto;
    margin-bottom: 20px;
}

.photo {
    width: 120px; /* width of container */
    height: 120px; /* height of container */
    object-fit: cover;
    border-radius: 50%;
    opacity: .7;
}

#linkedInIcon {

  margin: auto;
  width: 25px;
  border-radius: 0;
  display: inline-block;
  vertical-align: middle;
}

#imageLink{

  display: inline-block}





</style>
